.container-fluid{
    background-color: $color-principal;
    width: 100%;
    color: $color-secundario;
    position: fixed;
    padding-top: 80px;
    z-index: 1;
}
.navbar-logo img{
    width: 120px;
    height: 120px;
}
.nav-item a{
    color: $color-secundario;
}
.nav.link{
    color: $color-secundario;
}